*{
    margin: 0 px;
    padding: 0 px;
}

body{
  background-color: rgb(13, 88, 126);

}

.box{
  display: block;  
  margin: auto;
  width: 500px;
  border-radius: 25px;
}

.container{
    text-align: center;
    margin: auto;
    width: 750px;
    height: 150px;
    background-color:rgb(127, 214, 255);
    color: rgb(13, 88, 126);
}